[submodule "ldap-identification/recog"]
	path = ldap-identification/recog
	url = git@github.com:gustavoluvizotto/recog.git
	branch = fix-ldap-windows-fingerprints
[submodule "cloud-ip-prefixes"]
	path = notebooks/cloud-ip-prefixes
    	url = git@github.com:gustavoluvizotto/cloud-ip-prefixes.git
    	branch = main
[submodule "cvelistV5"]
	path = notebooks/cvelistV5
	url = git@github.com:CVEProject/cvelistV5.git
	branch = main
[submodule "goscanner-fork"]
	path = goscanner-fork
	url = https://github.com/gustavoluvizotto/goscanner-fork
	branch = ldaps-scanner
