[submodule "ldap-identification/recog"]
	path = ldap-identification/recog
	url = git@github.com:gustavoluvizotto/recog.git
	branch = fix-ldap-windows-fingerprints
[submodule "goscanner-fork"]
	path = goscanner-fork
	url = git@github.com:gustavoluvizotto/goscanner-fork.git
	branch = ldaps-scanner
[submodule "cert-validator"]
	path = cert-validator
	url = git@github.com:gustavoluvizotto/cert-validator.git
	branch = main
[submodule "internet-wide-scans"]
	path = internet-wide-scans
	url = git@gitlab.utwente.nl:m7711402/internet-wide-scans.git
	branch = main
