/credentials.py
/venv/
/__pycache__/*
/session
/notebooks/.ipynb_checkpoints/*
/notebooks/__pycache__/*
/.vscode/*
/.idea/*
/notebooks/requirements.txt
/notebooks/output/*
/notebooks/checkpoint/*
/notebooks/ldap_oid_dict.json
/notebooks/schema_attributes.csv
/notebooks/root_dse_attributes.csv
/notebooks/research_data
